.container {
  background-color: #111;
  border: 3px solid #0f0;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px;
  width: 300px;
}

button {
  background-color: #222;
  border: 2px solid #0f0;
  border-radius: 5px;
  color: #0f0;
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
}

#result {
  background-color: #222;
  border: 2px solid #0f0;
  border-radius: 5px;
  color: #0f0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  width: 100%;
}

button:hover {
  background-color: #0f0;
  border: 2px solid #0f0;
  color: #111;
}

button:active {
  background-color: #f00;
  border: 2px solid #f00;
  color: #111;
}

#clear {
  background-color: #f00;
  border: 2px solid #f00;
  color: #111;
}

#clear:hover {
  background-color: #0f0;
  border: 2px solid #0f0;
  color: #111;
}

.operator {
  background-color: #111;
}

.operator:hover {
  background-color: #0f0;
  border: 2px solid #0f0;
  color: #111;
}
